Repository typelevel/sbt-typelevel, pull requests merged in 2022-06, with the labels that each got.

#291 Don't run CI on `update/*` branches
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#294 Add typelevel-scalafix to the sbt-typelevel-scalafix dependencies
  scalafix/src/main/scala/org/typelevel/sbt/TypelevelScalafixPlugin.scala
Labels: scalafix

#292 Don't run ci on `pr/**` branches
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#310 Merge 0.4 -> main
  .github/workflows/ci.yml
  .mergify.yml
  .scalafix.conf
  .scalafmt.conf
  build.sbt
  ci-signing/src/main/scala/org/typelevel/sbt/TypelevelCiSigningPlugin.scala
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaJSGitHubPlugin.scala
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  kernel/src/main/scala/org/typelevel/sbt/kernel/GitHelper.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
  project/build.sbt
  project/scalafix.sbt
  scalafix/build.sbt
  scalafix/src/main/scala/org/typelevel/sbt/TypelevelScalafixPlugin.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype/build.sbt
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelUnidocPlugin.scala
  versioning/src/main/scala/org/typelevel/sbt/TypelevelVersioningPlugin.scala
Labels: github, settings, versioning, core, site, mergify, ci, ci-signing, github-actions, kernel, mima, no-publish, scalafix, sonatype, sonatype-ci-release

#313 Add FAQ about ScalaJS version
  docs/faq.md
Labels: docs

#314 Add startYear to example build
  docs/index.md
Labels: docs

#316 Auto-populate startYear and SJS version in docs
  build.sbt
  docs/faq.md
  docs/index.md
  project/build.sbt
Labels: docs

#312 Re-enable unused warnings for scala 2.12
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyAction.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyCondition.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings, core, mergify, github-actions
