Repository typelevel/sbt-typelevel, pull requests merged in 2022-11, with the labels that each got.

#408 0.4 -> main
  .scalafmt.conf
  mergify/build.sbt
Labels: mergify

#410 add a space to the Scala version selector command
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Labels: github-actions

#418 Minor improvements
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: core, github-actions, docs

#416 Allow configuring `timeout-minutes` for a job and a step
  .github/workflows/ci.yml
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: core, ci, github-actions, docs

#415 introduce `CompileTime` custom configuration
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
Labels: kernel

#417 Allow configuring `concurrency` for a job
  .github/workflows/ci.yml
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Labels: github-actions, docs

#423 Run `sbt update` on cache miss
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions

#424 0.4 -> main
  .github/workflows/ci.yml
  core/build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  project/build.sbt
Labels: core, github-actions, kernel

#427 Cache hit outputs as a string
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions

#428 Update to sbt-header 5.9.0
  core/build.sbt
Labels: core

#431 Use `hostedApiUrl` as fallback for `apiURL`
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Labels: sonatype
