Repository typelevel/sbt-typelevel, pull requests merged in 2022-09, with the labels that each got.

#365 Use `tlJdkRelease` for JDK api mappings
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#366 Set CI JDK via `tlJdkRelease` setting
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Labels: core

#368 0.4 -> main
  .github/workflows/ci.yml
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/site.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  scalafix/build.sbt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings, core, github-actions, scalafix, docs

#377 Site Plugin: Migrate to Laika 0.19.0-RC1 + separate generic defaults from Typelevel-specific ones
  build.sbt
  docs/site.md
  site/build.sbt
  site/src/main/resources/org/typelevel/sbt/site/helium/default.template.html
  site/src/main/resources/org/typelevel/sbt/site/helium/site/styles.css
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/ThemeProviderOps.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Labels: site, docs
