Repository typelevel/sbt-typelevel, pull requests merged in 2022-12, with the labels that each got.

#437 Add Inkuire for scaladoc
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#440 Bump actions to Node 16 versions
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site, github-actions

#441 Only run fmt/header/mima etc. checks on primary os
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Labels: core, ci
