Repository typelevel/sbt-typelevel, pull requests merged in 2022-08, with the labels that each got.

#356 Fallback to apiURL if javadocioUrl does not exist
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site

#357 Adding tests around version handling
  build.sbt
  kernel/src/test/scala/org/typelevel/sbt/kernel/VSuite.scala
Labels: kernel

#358 Do not require binary compat on 0.0.z versions
  kernel/src/main/scala/org/typelevel/sbt/kernel/V.scala
  kernel/src/test/scala/org/typelevel/sbt/kernel/VSuite.scala
Labels: kernel

#359 0.4 -> main
  .git-blame-ignore-revs
  .scalafmt.conf
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
  scalafix/src/main/scala/org/typelevel/sbt/TypelevelScalafixPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site, github-actions, scalafix

#360 Use workflow OSes for publish job
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions
