Repository typelevel/sbt-typelevel, pull requests merged in 2022-07, with the labels that each got.

#322 Add `doc` to `prePR` command alias
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Labels: core

#324 Detailed instructions to configure repo settings for site publishing
  docs/site.md
Labels: docs

#320 Add request_reviews and update Mergify actions
  .mergify.yml
  build.sbt
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyAction.scala
Labels: mergify

#328 Only download artifacts for primary OS/JDK
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions

#335 Add `/api` path to site that forwards to API url
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Labels: site

#337 Configure scaladoc3 `-source-links` and friends
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: github, settings

#333 Expose versioning info in version plugin
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  versioning/src/main/scala/org/typelevel/sbt/TypelevelVersioningPlugin.scala
Labels: versioning, site, kernel

#338 0.4 -> main
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/faq.md
  docs/index.md
  docs/site.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyAction.scala
  project/build.sbt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
  versioning/src/main/scala/org/typelevel/sbt/TypelevelVersioningPlugin.scala
Labels: github, settings, versioning, core, site, mergify, github-actions, kernel, docs

#340 Add dependency submission job to CI
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: ci, github-actions

#341 Move submit-dependencies condition to job-level, not step-level
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#344 Tune Scala compiler warnings
  kernel/src/main/scala/org/typelevel/sbt/kernel/V.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings, kernel

#349 Fix console/scalacOptions
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings
