Repository typelevel/sbt-typelevel, pull requests merged in 2023-07, with the labels that each got.

#585 javadoc.io now supports sbt plugins
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Labels: sonatype

#591 Deprecate `tlSkipIrrelevantScalas`
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  docs/customization.md
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Labels: ci, kernel, mima, docs

#596 Fixed unclosed bracket in the index
  docs/index.md
Labels: docs

#590 New Theme Inversion
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Labels: site

#600 Added binary versions to `module-ignore` inputs
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Labels: ci, no-publish

#602 Added `test-internal` to the ignored configs
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#603 update docs
  docs/customization.md
Labels: docs

#604 Fix rendering of `modules-ignore`
  .github/workflows/ci.yml
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Labels: no-publish

#607 Fix syntax highlighting for g8 snippet
  docs/index.md
Labels: docs

#611 Revert #508
  .github/workflows/ci.yml
  .mergify.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#609 Add global permissions
  .github/workflows/ci.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Labels: github-actions

#612 Remove sbt update from steward job
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: ci, github-actions
