Repository typelevel/sbt-typelevel, pull requests merged in 2023-05, with the labels that each got.

#506 document my 1Password / GitHub CLI script for setting up a new repo
  docs/secrets.md
Labels: docs

#508 Steward config validation job can use default Java
  .github/workflows/ci.yml
  .mergify.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#514 Update Laika URLs
  README.md
  build.sbt
  docs/customization.md
  docs/index.md
  docs/site.md
Labels: docs

#516 0.4 -> main
  .all-contributorsrc
  .github/workflows/ci.yml
  .mergify.yml
  .scala-steward.conf
  .scalafmt.conf
  README.md
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  core/build.sbt
  docs/customization.md
  docs/index.md
  docs/secrets.md
  docs/site.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  mergify/build.sbt
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  mima/build.sbt
  project/build.sbt
  settings/build.sbt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  sonatype/build.sbt
Labels: settings, core, site, mergify, ci, github-actions, mima, sonatype, docs

#517 Add `sbt-scala-native-crossproject` to core
  core/build.sbt
Labels: core

#518 Add `scalac-compat` dependency by default
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings
