Repository typelevel/sbt-typelevel, pull requests merged in 2023-02, with the labels that each got.

#451 Populating Job summary with tests results and publish report
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Labels: ci, github-actions, sonatype-ci-release

#467 Use `-source:3.2-migration` on Scala 3.2 (when cross-compiling)
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#466 Making mergifyLabelPaths overridable
  .mergify.yml
  build.sbt
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
Labels: mergify
