Repository typelevel/sbt-typelevel, pull requests merged in 2023-09, with the labels that each got.

#633 Update to checkout v4
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions

#637 Revert "Update laika-sbt to 0.19.4"
  site/build.sbt
Labels: site

#639 Add `-Wconf:cat=scala3-migration:s` on 2.13
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#640 `cat=scala3-migration` only exists in 2.13.12+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#645 Support customizing publish job `needs`
  .github/workflows/ci.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions

#643 Added version bound check and added slash
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
Labels: github
