Repository typelevel/sbt-typelevel, pull requests merged in 2023-10, with the labels that each got.

#648 Glorious hack to fix publishing key import on macOS runners
  .github/workflows/ci.yml
  ci-signing/src/main/scala/org/typelevel/sbt/TypelevelCiSigningPlugin.scala
Labels: ci-signing

#646 migrate to Laika 1.0.0
  build.sbt
  site/build.sbt
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Labels: site

#652 Introduce `tlCommandAliases` setting for defining command aliases
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/customization.md
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Labels: core, kernel, sonatype, docs

#655 removes the "compile-time" config in favor of "provided"
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings, kernel
