Repository typelevel/sbt-typelevel, pull requests merged in 2023-06, with the labels that each got.

#527 0.4 -> main
  build.sbt
  scalafix/build.sbt
Labels: scalafix

#530 Make dependency submission ignore non-compile scopes and no-publish projects
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Labels: ci, github-actions, no-publish

#531 Refresh scalac settings
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#493 Add -Xsource:3 to 2.12 (and future minor 2 releases) builds
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#515 Add re-introduced unused/discard warnings for scala >3.3.0
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#532 Populate `releaseNotesURL` setting
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
Labels: github

#533 Fix indentation
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions

#534 Don't upload artifacts for no-publish projects
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions

#535 Update peaceiris/actions-gh-pages to v3.9.3
  .github/workflows/ci.yml
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site

#536 Run ci check steps only for primary value of axes
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#537 Run scalafix before test
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci

#538 Use vanilla setup-java action, update setup-graalvm action
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions

#539 Make `s01.oss.sonatype.org` the default host
  docs/customization.md
  docs/faq.md
  docs/index.md
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Labels: sonatype, docs

#540 Distinguish between org, affiliate projects in site plugin
  build.sbt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelProjects.scala
Labels: site

#541 Add macos and windows to ci
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site

#542 Better `prePR` command
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/customization.md
  docs/faq.md
Labels: core, docs

#543 `-release` -> `-java-output-version` in Scala 3.2
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#546 Update versions, steward pins
  .scala-steward.conf
  build.sbt
  docs/faq.md
  docs/index.md
  github/build.sbt
Labels: github, docs

#465 BSP control plugin
  core/src/main/scala/org/typelevel/sbt/TypelevelBspPlugin.scala
Labels: core

#550 update plugin doc
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
  docs/site.md
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings, ci, docs

#552 `tlPrePRBotHook` should respect ci config
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Labels: core

#554 Move `noPublishProjectRefs` to always-triggered plugin
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Labels: ci, no-publish

#561 Clear sbt step preamble in dependency submission job
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: bug, ci

#558 fix GHA problems
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions

#563 Scaladoc3 Wiki Syntax Flag
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#564 Support new Java Distributions
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
Labels: github-actions

#565 Corrected stale 2.13 version in WorkflowJob
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Labels: github-actions

#562 docs for site plugin: adjust for recent changes to tlSiteIsTypelevelProject
  docs/site.md
Labels: docs

#572 doc updates:
  core/src/main/scala/org/typelevel/sbt/TypelevelBspPlugin.scala
  docs/customization.md
  docs/plugins.dot
  docs/plugins.svg
Labels: core, docs

#571 Allow to independently configure components of `CrossRootProject`
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
Labels: ci

#576 skip mima task, if no artifacts should be published
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Labels: mima

#578 Also add `scalac-compat` to `Test` scope
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#573 New light theme for `sbt-typelevel-site`!
  docs/faq.md
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Labels: site, docs

#588 fix rendering of bullet lists
  docs/customization.md
Labels: docs

#589 only use parameter for `Some(NonEmptyList)`
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions
