Repository typelevel/sbt-typelevel, pull requests merged in 2023-03, with the labels that each got.

#471 Removed default ligatures behaviour
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Bold.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Medium.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Regular.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/OFL.txt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site

#472 Fixing section title sizing for code blocks
  site/src/main/resources/org/typelevel/sbt/site/helium/site/styles.css
Labels: site

#473 Revert "Use `-source:3.2-migration` on Scala 3.2 (when cross-compiling)"
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#475 Condense GHA step summaries
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Labels: ci, sonatype-ci-release

#476 0.4 -> main
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt.conf
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  project/build.sbt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Bold.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Medium.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Regular.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/OFL.txt
  site/src/main/resources/org/typelevel/sbt/site/helium/site/styles.css
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Labels: settings, site, mergify, ci, github-actions, sonatype-ci-release

#479 Fix project id in "run test with ..."
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Labels: ci
