Repository typelevel/sbt-typelevel, pull requests merged in 2023-12, with the labels that each got.

#668 Upstream `ScalafixProject`
  build.sbt
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProjectMacros.scala
  scalafix/src/main/scala/org/typelevel/sbt/TypelevelScalafixPlugin.scala
Labels: scalafix

#672 Allow packaging sources from all managed directories
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#674 Update {upload,download}-artifact to v4
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions
