Repository typelevel/sbt-typelevel, pull requests merged in 2023-08, with the labels that each got.

#619 Sort rendered matrixes in GHA
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions

#623 Allow preamble to be skipped in `Sbt` step
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: ci, github-actions

#624 Disable the `byname-implicit` lint on 2.13
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings
