Repository typelevel/sbt-typelevel, pull requests merged in 2024-04, with the labels that each got.

#693 site plugin - remove deprecated settings and classes
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Labels: site

#692 TypelevelSiteSettings - deprecate top level color properties in favor of a nested object
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Labels: site

#696 Remove `TypelevelScalaNativeGitHubPlugin`
  .scala-steward.conf
  github/build.sbt
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaNativeGitHubPlugin.scala
Labels: github

#697 Cleanup docs from the removal of `TypelevelScalaNativeGitHubPlugin`
  docs/customization.md
  docs/plugins.dot
  docs/plugins.svg
Labels: docs

#699 Do not set a default `startYear`
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Labels: core

#694 The great de-case-classification
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/JobContainer.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/JobEnvironment.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PREventType.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Paths.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Ref.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/RefPredicate.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/UseRef.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyAction.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyStewardConfig.scala
Labels: mergify, ci, github-actions

#700 Support `working-directory` in `WorkflowStep.Run`
  .github/workflows/ci.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Labels: github-actions
