Repository typelevel/sbt-typelevel, pull requests merged in 2024-07, with the labels that each got.

#719 Use stable option for kind-projector in 3.5+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Labels: settings

#722 Fallback on non-MavenRepository repos
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Labels: ci, github-actions, sonatype-ci-release

#727 Set `sonatypeCredentialHost` at build-level
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Labels: sonatype
