Repository typelevel/sbt-typelevel, pull requests merged in 2024-05, with the labels that each got.

#706 Bump peaceiris/actions-gh-pages to 4.0.0
  .github/workflows/ci.yml
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Labels: site

#709 Always generate macOS `brew install sbt` step
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Labels: github-actions

#711 Support checking Java formatting
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/customization.md
Labels: core, ci, docs
